@import './style-fundamentals/all';
@import './style-core/all';

body{
  font-family: Neue Frutiger, sans-serif;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.5;
  margin: auto;
  padding: 0;
  text-align: center;
}
#app{
  width: 60%;
  margin: auto;
}
button, button:focus{
  outline: none;
}
.submit_input, .reset_search{
  display: inline-block;
  height: 72px;
  margin: 0;
}
#flight_search{
  display: inline-block;
}