// @import "@runway/style-core/colours";
@import "../style-core/all.scss";

// -----------------------------------------------------------------------------
// Image Links
// -----------------------------------------------------------------------------

.rw-image-link {
    appearance: none;
    background-color: transparent; // in case it's used on a <button>
    border: 0;
    box-shadow: 0 .625em 1.25em 0 rgba($black, 0);
    display: inline-block;
    padding: 0;
    text-decoration: none;
    transition: box-shadow $transition-fast;

    &:focus {
        outline: .1875rem solid $morning-pink;
        outline-offset: .25rem;
    }

    &:hover {
        background: transparent;
        box-shadow: 0 .625em 1.25em 0 rgba($black, .2);
        outline: 0;
    }

    img {
        vertical-align: middle;
    }
}
